/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  min-height: 100vh;
  background-color: #f3f4f6;
}

.container {
  max-width: 690px;
  width: 100%;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.wrapper {
  border-radius: 5px;
  border: 1px solid #ccc;
}

.wrapper .text-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}

.text-input .to-text {
  border-radius: 0px;
  border-left: 1px solid #ccc;
}

.text-input textarea {
  height: 200px;
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  resize: none;
  background: #f9fafb;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: border 0.3s ease;
}

.text-input textarea:focus {
  border-color: #007bff;
}

.text-input textarea::placeholder {
  color: #b7b6b6;
}

.controls,
li,
.icons,
.icons i {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls {
  list-style: none;
  padding: 12px 15px;
  border-top: 1px solid #ccc;
}

.controls .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.controls .row .icons {
  display: flex;
  gap: 10px;
}

.controls .row .icons i {
  width: 50px;
  color: #adadad;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
  justify-content: center;
}

.controls .row .icons i:hover {
  color: #007bff;
}

.controls .row .icons i:active {
  transform: scale(0.9);
}

.controls .row.from .icons {
  padding-right: 15px;
  border-right: 1px solid #ccc;
}

.controls .row.to .icons {
  padding-left: 15px;
  border-left: 1px solid #ccc;
}

.controls .row select {
  color: #333;
  border: 1px solid #ccc;
  outline: none;
  font-size: 18px;
  background: #f9fafb;
  padding: 5px;
  border-radius: 5px;
  transition: border 0.3s ease;
}

.controls .row select:focus {
  border-color: #007bff;
}

.controls .exchange {
  color: #adadad;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease, color 0.2s ease;
}

.controls .exchange:hover {
  color: #007bff;
}

.text-input textarea::-webkit-scrollbar {
  width: 4px;
}

.controls .row select::-webkit-scrollbar {
  width: 8px;
}

.text-input textarea::-webkit-scrollbar-track,
.controls .row select::-webkit-scrollbar-track {
  background: #fff;
}

.text-input textarea::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 8px;
}

.controls .row select::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}

.container button {
  width: 100%;
  padding: 14px;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  border-radius: 5px;
  background: #21283a;
  transition: background 0.3s ease;
}

.container button:hover {
  background: #1a1e2d;
}

@media (max-width: 660px) {
  .container {
    padding: 20px;
  }

  .wrapper .text-input {
    flex-direction: column;
  }

  .text-input .to-text {
    border-left: 0px;
    border-top: 1px solid #ccc;
  }

  .text-input textarea {
    height: 200px;
  }

  .controls .row .icons {
    display: none;
  }

  .container button {
    padding: 13px;
    font-size: 16px;
  }

  .controls .row select {
    font-size: 16px;
  }

  .controls .exchange {
    font-size: 14px;
  }
}

.translator-title {
  text-align: center;
  color: rgb(63, 63, 63);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
